*,
*:before,
*:after {
  box-sizing: border-box;
}
@font-face {
  font-family: "Gilam", sans-serif;
  src: url("../fonts/GilamDemo-Black.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Circe", sans-serif;
  src: url("../fonts/Circe-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #171717;
  color: #ffffff;
  font-family: Gilam, sans-serif;
  font-weight: 700;
  margin: 0;
  background: url(../imeges/parallax-bg.jpeg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.wrapper {
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.logo {
  width: 216px;
  height: 33px;
  margin-top: 46px;
}
.callback-btn {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  margin-top: 37px;
  border: 1px solid #e4b564;
}
.callback-text {
  font-family: Circe;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-left: 10.04px;
}
a {
  text-decoration: none;
  color: #e4b564;
}
.callback-foto img {
  width: 12.96px;
  height: 12.96px;
}
h3 {
  font-size: 50px;
  line-height: 28px;
}
p {
  margin: 41px 0;
  width: 1182px;
  font-size: 20px;
  line-height: 28px;
}
.block-works {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  grid-gap: 27px;
}
.earthworks,
.pipeline,
.canals,
.pillar,
.well {
  grid-column-end: span 2;
}
.pillar,
.well {
  grid-column-end: span 3;
}
.block-works {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.earthworks {
  padding: 220px 100px;
  background-color: #634f2c;
}
.pipeline {
  padding: 206px 34px;
  background-color: #b4a385;
}
.canals {
  padding: 220px 132px;
  background-color: #e4b564;
}
.pillar {
  padding: 220px 148px;
  background-color: #635a4a;
}
.well {
  padding: 220px 232px;
  background-color: #b08c4d;
}
.autopark {
  margin-top: 161px;
}
.equipment {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 4vw);
  grid-gap: 30px;
  margin-bottom: 191px;
}
.equipment-item {
  padding: 45px 115px 0 50px;
  font-size: 20px;
  line-height: 25px;
}
.kamaz-01 {
  grid-row-end: span 4;
  padding-right: 185px;
  font-weight: 400;
  background-color: #0e0e0e;
}
.kamaz-20 {
  grid-row-end: span 5;
  font-weight: 400;
  background-color: #242424;
}
.excavator-loader {
  grid-row-end: span 3;
  font-weight: 500;
  background-color: #1f1f1f;
}
.kamaz-kmu {
  grid-row-end: span 4;
  font-weight: 500;
  background-color: #0e0e0e;
}
.loader {
  grid-row-end: span 6;
  font-weight: 500;
  background-color: #1f1f1f;
}
.excavator {
  grid-row-end: span 5;
  font-weight: 500;
  color: #000000;
  background-color: #e4b564;
}
.roller {
  grid-row-end: span 3;
  background-color: #0a0909;
}
.parallax-section-2 {
  background: url(../imeges/header-bg.jpeg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.custumers {
  background-color: #0e0e0e;
  padding-top: 172px;
  margin-bottom: 239px;
}
.custumers-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-btn {
  width: 180px;
  height: 50px;
  padding: 10px 39px 10px 40px;
  border: 1px solid #e4b564;
  font-family: Circe;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.custumers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.custumers-list > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 391px;
  width: 33.33%;
}
.custumers-item-1,
.custumers-item-6 {
  background-color: #634f2c;
}
.custumers-item-2 {
  background-color: rgba(232, 210, 171, 0.76);
}
.custumers-item-3,
.custumers-item-4 {
  background-color: #e4b564;
}
.custumers-item-4 {
  background-color: #635a4a;
}
.custumers-item-5 {
  background-color: #b08c4d;
}
.custumers-item-1 img,
.custumers-item-6 img {
  width: 185px;
  height: 49px;
}
.logo-1 {
  width: 62px;
  height: 55px;
}
.logo-2 {
  width: 139px;
  height: 55px;
}
.custumers-item-3 img,
.custumers-item-4 img {
  width: 190px;
  height: 42px;
}
.custumers-item-5 {
  width: 119px;
  height: 53px;
}
.contact {
  width: 326px;
  height: 140px;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
